<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Reg test</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="<?php echo static_url(1,'/js/jquery-2.0.3.min.js');?>"></script>
        <script>
            function login(){
                var uname = $('#uname').val();
                var pwd = $('#password').val();
                var remember = $('#remember').val();
                $.ajax({
                    type: "POST",
                    url: "<?php echo get_url('user/login');?>",
                    data: {username:uname,password:pwd,remember:remember},
                    dataType: "json",
                    success: function(data){
                        alert(data.msg);
                    }
                 });
            }
        </script>
    </head>
    <body>
        <div>Reg</div>
        <div>
            用户名：<input type="text" name="uname" id="uname" value=""/><br/>
            密码：<input type="password" name="password" id="password" value=""/><br/>
            用户名：<input type="text" name="remember" id="remember" value="1"/><br/>
            <a href="#" onclick="login();">登录</a>
        </div>
    </body>
</html>
