<form name="form" method="post" action="/test/saveopentime">
素材类型：<input name="source_type" value="1"/><br/>
素材ID：<input name="source_id" value="5"/><br/>
数据：<br/>
ID：<input name="ot_id[]" value="" size="8"/><br/>
季节：<input name="ot_season[]" value="2" size="8"/><br/>
开始日期：<input name="ot_start_date[]" value="01-18" size="8"/><br/>
结束日期：<input name="ot_end_date[]" value="05-20" size="8"/><br/>
开始星期：<input name="ot_start_week[]" value="1" size="8"/><br/>
结束星期：<input name="ot_end_week[]" value="5" size="8"/><br/>
开始时间：<input name="ot_start_time[]" value="09:00" size="8"/><br/>
结束时间：<input name="ot_end_time[]" value="18:00" size="8"/><br/>
<hr>
ID：<input name="ot_id[]" value="" size="8"/><br/>
季节：<input name="ot_season[]" value="4" size="8"/><br/>
开始日期：<input name="ot_start_date[]" value="08-01" size="8"/><br/>
结束日期：<input name="ot_end_date[]" value="12-31" size="8"/><br/>
开始星期：<input name="ot_start_week[]" value="1" size="8"/><br/>
结束星期：<input name="ot_end_week[]" value="5" size="8"/><br/>
开始时间：<input name="ot_start_time[]" value="10:30" size="8"/><br/>
结束时间：<input name="ot_end_time[]" value="17:30" size="8"/><br/>
<hr>
<input type="submit" name="submit" value="保存"/>
</form>