<html>
<head></head>
<body>
    <h3 class="header smaller lighter blue">添加工资</h3>
    <form id="dataForm" class="form-horizontal" role="form" action="<?php echo get_url('wage/save');?>" method="post">
        <div class="form-group">
            <label class="col-sm-3 control-label">国家：</label>
            <div class="col-sm-3 readonly">
                <select class="form-control" name="country_id">
                    <option value="0">--请选择--</option>
                    <?php foreach($countryList as $country):?>
                    <option value="<?php echo $country['id'];?>" class="main"><?php echo $country['name'];?></option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">城市：</label>
            <div class="col-sm-3">
                <select class="form-control" name="city_id">
                    <option value="0" class="main">--请选择--</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3 control-label">货币</label>
            <div class="col-sm-3">
                <select name="currency" id="" class="form-control">
                    <option value="0">货币类型</option>
                 <?php foreach(config_item('currency') as $currency_key => $currency_child):?>
						<option value="<?php echo $currency_key;?>" ><?php echo $currency_child;?></option>
                <?php endforeach;?>               
                </select>
            </div>
        </div>
		<div class="form-group">
		  <label class="control-label col-sm-3">导游费用:</label>
		   <div class="col-sm-1">
		    <label width="100px">工资</label>
		   </div>
		   <div class="col-sm-1">
		    <input class="form-control input" name="guide_wage" placeholder="价格" type="text" />
		   </div>
		</div>
		<div class="form-group">
		   <label class="control-label col-sm-3"></label>
		   <div class="col-sm-1">
		    <label width="100px">司兼导9座费用</label>
		   </div>
		   <div class="col-sm-1">
		    <input class="form-control input" name="driver_guide_9_seat" placeholder="价格" type="text" />
		   </div>
		</div>
		<div class="form-group">
		   <label class="control-label col-sm-3"></label>
		   <div class="col-sm-1">
		    <label width="100px">司兼导17座费用</label>
		   </div>
		   <div class="col-sm-1">
		    <input class="form-control input" name="driver_guide_17_seat" placeholder="价格" type="text" />
		   </div>
		</div>		
		<div class="form-group">
		   <label class="control-label col-sm-3"></label>
		   <div class="col-sm-1">
		    <label width="100px">小费</label>
		   </div>
		   <div class="col-sm-1">
		    <input class="form-control input" name="guide_tip" placeholder="价格" type="text" />
		   </div>
		</div>
		<div class="form-group">
		   <label class="control-label col-sm-3"></label>
		   <div class="col-sm-1">
		   	<label width="100px">餐补</label>
		   </div>
		   <div class="col-sm-1">
		    <input class="form-control input" name="guide_meal" placeholder="价格" type="text" />
		   </div>
		</div>
		<div class="form-group">
		   <label class="control-label col-sm-3"></label>
		   <div class="col-sm-1">
		   	<label width="100px">住补</label>
		   </div>
		   <div class="col-sm-1">
		    <input class="form-control input" name="guide_accommodation" placeholder="价格" type="text" />
		   </div>
		</div>
		<div class="form-group">
		   <label class="control-label col-sm-3"></label>
		   <div class="col-sm-1">
		    <label width="100px">异地补</label>
		   </div>
		   <div class="col-sm-1">
		    <input class="form-control input" name="guide_allopatry" placeholder="价格" type="text" />
		   </div>
		</div>
		<div class="form-group">
		   <label class="control-label col-sm-3"></label>
		   <div class="col-sm-1">
		    <label width="100px">加班费</label>
		   </div>
		   <div class="col-sm-1">
		    <input class="form-control input" name="guide_overtime" placeholder="价格" type="text" />
		   </div>
		</div>								
        <div class="form-group">
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-primary" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    保存
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="button" onclick="javascript:location.href='javascript:history.go(-1)'">
                    <i class="icon-undo bigger-110"></i>
                    返回
                    </button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
<script type="text/javascript" src="../js/jquery.uploadify.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

    $("#dataForm").validate({
        rules: {
            country_id: {
                required: true,
                min: 1
            },
            city_id: {
                required: true,
                min: 1
            },
            guide_wage: {
            	number: true,
            	min: 0
            },
            guide_tip: {
            	number: true,
            	min: 0
            },
            guide_meal: {
            	number: true,
            	min: 0
            },
            guide_accommodation: {
            	number: true,
            	min: 0
            },
            guide_allopatry: {
            	number: true,
            	min: 0
            },
            driver_guide_wage: {
            	number: true,
            	min: 0
            },
            driver_guide_tip: {
            	number: true,
            	min: 0
            },
            driver_guide_meal: {
            	number: true,
            	min: 0
            },
            driver_guide_accommodation: {
            	number: true,
            	min: 0
            },
            driver_guide_allopatry: {
            	number: true,
            	min: 0
            },
            currency: {
            	required: true,
                min: 1
            },
            guide_wage: {
            	number: true,
            	min: 0
            },
            guide_tip: {
            	number: true,
            	min: 0
            },
            guide_meal: {
            	number: true,
            	min: 0
            },
            guide_accommodation: {
            	number: true,
            	min: 0
            },
            guide_allopatry: {
            	number: true,
            	min: 0
            },
            currency: {
            	required: true,
                min: 1
            },
            driver_guide_9_seat: {
            	number: true,
                min: 0            	
            },
            driver_guide_17_seat: {
            	number: true,
                min: 0            	
            },
            guide_overtime: {
            	number: true,
                min: 0            	
            }
        },
        messages: {
            country_id: {
                required: '请选择工资所属国家',
                min: '请选择工资所属国家'
            },
            city_id: {
                required: '请选择工资所属城市',
                min: '请选择工资所属城市'
            },
            guide_wage: {
            	number: "必须为数字",
            	min: "价格不能小于0"
            },
            guide_tip: {
            	number: "必须为数字",
            	min: "价格不能小于0"
            },
            guide_meal: {
            	number: "必须为数字",
            	min: "价格不能小于0"
            },
            guide_accommodation: {
            	number: "必须为数字",
            	min: "价格不能小于0"
            },
            guide_allopatry: {
            	number: "必须为数字",
            	min: "价格不能小于0"
            },
            currency: {
            	required: "请选择货币",
                min: "请选择货币"
            },
            driver_guide_9_seat: {
            	number: "必须为数字",
            	min: "价格不能小于0"            	
            },
            driver_guide_17_seat: {
            	number: "必须为数字",
            	min: "价格不能小于0"       	
            },
            guide_overtime: {
            	number: "必须为数字",
            	min: "价格不能小于0"          	
            }            
        },
        submitHandler: function(form){
            if (window.ace.repeat_validate('/wage/checkexist', ['id', 'city_id'], ['city_id'])) {
                form.submit();
            } else {
                $('html, body').animate({scrollTop: 45}, 'fast');
                console.log("12");
                return false;
            }
        }
    });
    
    window.ace.is_repeat('/wage/checkexist', ['id', 'city_id'],['city_id']);
});

    $("select[name='country_id']").on("change",function(){
        $.ajax({
            type: 'POST',
            url: '../supplier/getCityByCountryId',
            data:{
                country_id: $("select[name='country_id']").val()
            },
            success: function(data){
                $("select[name='city_id'] option").remove(".main");
                var city_list = JSON.parse(data);
                for(var key in city_list)
                {
                		var city_list_id = city_list[key]['id'];
                		$("select[name='city_id']").append("<option value='"+city_list_id+"' class='main'>"+city_list[key]['name']+"</option>");
                }
                window.ace.repeat_validate('/wage/checkexist', ['id', 'city_id'], ['city_id']);
/*                   $.ajax({
        	        type: 'POST',
        	        url: '../wage/getExistCity',
        	        data:{
        	            city_id: $("select[name='city_id']").val()
        	        },
        	        success: function(data){
        	        	if(data > 0){
        	        		alert('已存在该城市的工资信息,请重新选择');
        	        		$("select[name='city_id']").val(0);
        	        	}
        	        }
        	    }); */

            }
        });
    });
/*     $("select[name='city_id']").on("change",function(){
	    $.ajax({
	        type: 'POST',
	        url: '../wage/getExistCity',
	        data:{
	            city_id: $("select[name='city_id']").val()
	        },
	        success: function(data){
	        	if(data > 0){
	        		alert('已存在该城市的工资信息');
	        		$("select[name='city_id']").val(0);
	        	}
	        	
	        }
	    });
    }); */
</script>