
<html>
 <head></head>
 <body>
    <form id="dataForm" class="form-horizontal" role="form" action="<?php echo get_url('supplier/add');?>" method="post">
   <div class="form-group"> 
    <label class="col-sm-3 control-label">国家：</label> 
    <div class="col-sm-3 readonly">
             <select class="form-control" name="country_id">
            <option value="0">--请选择--</option>
            <?php foreach($countryList as $country):?>
            	<option value="<?php echo $country['id'];?>" class="main"><?php echo $country['name'];?></option>
            <?php endforeach;?>
        </select>
    </div> 
   </div> 
   <div class="form-group"> 
    <label class="col-sm-3 control-label">城市：</label>    
        <div class="col-sm-3">
            <select class="form-control" name="city_id">
            <option value="0" class="main">--请选择--</option>
        </select>
    </div>
   </div> 
   <div class="form-group">
    <label class="col-sm-3 control-label">供应商名称：</label>
    <div class="col-sm-3">
     <input class="form-control input" name="name" type="text" />
    </div>
   </div>
   <div class="form-group">
    <label class="col-sm-3 control-label">办公地址：</label>
    <div class="col-sm-3">
     <input class="form-control input" name="addr" type="text" />
    </div>
   </div>
   <div class="form-group">
    <label class="col-sm-3 control-label">网站：</label>
    <div class="col-sm-3">
     <input class="form-control input" name="website" type="text" />
    </div>
   </div>
   <div class="form-group">
    <label class="col-sm-3 control-label">电话号码：</label>
    <div class="col-sm-3">
     <input class="form-control input" name="tel" type="tel" />
    </div>
   </div>
   <div class="form-group">
    <label class="col-sm-3 control-label">E-mail：</label>
    <div class="col-sm-3">
     <input class="form-control input" name="e_mail" type="email" />
    </div>
   </div>
   <div class="form-group">
    <label class="control-label col-sm-3">结算方式</label>
      <div class="col-sm-1">
     <input name="pay_way[]" value="1"  type="checkbox"/>
     <span>信用卡</span>
    </div>
    <div class="col-sm-1">
     <input name="pay_way[]" value="2" type="checkbox"/>
     <span>现金</span>
    </div>
    <div class="col-sm-1">
     <input id="huikuan" name="pay_way[]" value="3" type="checkbox"/>
     <span>汇款</span>
    </div>
    <div class="col-sm-1">
     <input name="pay_way[]" value="4" type="checkbox"/>
     <span>线上支付</span>
    </div>
    </div>
   <div class="bank_account" style="display:none">
   <div class="form-group bank">
    <label class="control-label col-sm-3">银行账户:</label>
    <div class="col-sm-3">
     <input class="form-control input" name="payee_name" placeholder="收款人名称" type="text" />
    </div>
   </div>
   <div class="form-group bank">
    <div class="col-sm-offset-3 col-sm-3">
     <input class="form-control input" name="payee_addr" placeholder="收款人地址" type="text" />
    </div>
   </div>
   <div class="form-group bank">
    <div class="col-sm-offset-3 col-sm-3">
     <input class="form-control input" name="IBAN" placeholder="IBAN" type="text" />
    </div>
   </div>
   <div class="form-group bank">
    <div class="col-sm-offset-3 col-sm-3">
     <input class="form-control input" name="bank_name" placeholder="开户银行名称" type="text" />
    </div>
   </div>
   <div class="form-group bank">
    <div class="col-sm-offset-3 col-sm-3">
     <input class="form-control input" name="bank_addr" placeholder="开户银行地址" type="text" />
    </div>
   </div>
   <div class="form-group bank">
    <div class="col-sm-offset-3 col-sm-3">
     <input class="form-control input" name="SWIFT_BIC" placeholder="SWIFT/BIC" type="text" />
    </div>
    </div>
   </div>
   <div class="form-group">
    <label class="col-sm-3 control-label">备忘：</label>
    <div class="col-sm-6">
     <textarea rows="2" class="form-control" name="memo"></textarea>
    </div>
   </div>
   <div class="modal fade" id="modal">
    <div class="modal-dialog modal-lg">
     <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title">添加新活动</h4>
      </div>
      <div class="modal-body"></div>
     </div>
     <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
   </div>
   <!-- /.modal -->
   <div class="form-group">
       <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-primary" type="submit">
                <i class="icon-ok bigger-110"></i>
                保存
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="button" onclick="javascript:location.href='javascript:history.go(-1)'">
                <i class="icon-undo bigger-110"></i>
                返回
            </button>
        </div>
    </div>
    </div>
  </form>
 </body>
</html>

<script type="text/javascript" src="../js/jquery.uploadify.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
			
    $("#dataForm").validate({
        rules: {
            country_id: {
                required: true,
                min: 1			  
            },
		    name: {
		        required: true,
		    },
            city_id: {
            	required: true,
            	min: 1
            }
        },
        messages: {
            name: {
                required: '供应商名称必填',
                min: '供应商名称必填'
            },
            country_id: {
                required: '请选择供应商所属国家',
                min: '请选择供应商所属国家'
            },
            city_id: {
                required: '请选择供应商所属国家',
                min: '请选择供应商所属国家'
            }
        },
        submitHandler: function(form){
            if (window.ace.repeat_validate('/supplier/checkexist', ['id', 'city_id'], ['name'])) {
                form.submit();
            } else {
                $('html, body').animate({scrollTop: 45}, 'fast');
                console.log("12");
                return false;
            }
        }
    });
    
    window.ace.is_repeat('/supplier/checkexist', ['id', 'city_id'], ['name']);
	
    $(document).on("change","#huikuan",function(){
		$(".bank_account").toggle();
	})
});

$("select[name='country_id']").on("change",function(){
	$.ajax({
		type: 'POST',
		url: '../supplier/getCityByCountryId',
		data:{
			country_id: $("select[name='country_id']").val()
		},
		success:function(data){
			$("select[name='city_id'] option").remove(".main");
			var city_list = JSON.parse(data);

			for(var key in city_list)
			{
				$("select[name='city_id']").append("<option value='"+key+"' class='main'>"+city_list[key]['name']+"</option>");
			}
			window.ace.repeat_validate('/supplier/checkexist', ['id', 'city_id'], ['name']);
		}
	});

});
</script>
